{
  "extends": ["./node_modules/@zthun/lint-janitor/lint/.eslintrc", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "react/prop-types": "off"
  }
}
