{
  "extends": ["./node_modules/@zthun/lint-janitor/lint/.eslintrc", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": "off",
    "no-undefined": "off",
    "max-nested-callbacks": "off",
    "eqeqeq": ["error", "smart"],
    "multiline-ternary": "off",
    "new-cap": "off",
    "@typescript-eslint/no-empty-function": ["error", { "allow": ["constructors"] }],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/prop-types": "off"
  }
}
