# General conventions
node_modules
dist
docs
coverage
reports
install
.DS_Store
*.lerna_backup
*.log
*.tgz
.rpt2_cache

# Yarn
.yarn/cache
.yarn/*.gz

# Specific packages
packages/works.themes/css
packages/works.install/charts
