.ZthunworksMenu-root {
  height: @sizing-toolbar;

  .ZthunworksMenu-btn-home {
    height: @sizing-toolbar;

    &:hover {
      text-decoration: underline;
    }
  }

  .ZthunworksMenu-title {
    font-size: 1.5rem;
  }

  .ZthunworksMenu-icon {
    height: 5rem;
    margin-right: @spacing-sm;
    border-radius: @rounding-circle;
    border: @thickness-xs solid @color-gainsboro;
    background: @color-white;
  }

  .ZthunworksMenu-options {
    flex-grow: 1;
  }
}

.ZthunworksMenu-drawer-more {
  min-width: @sizing-drawer;
}
