// sass-lint:disable no-important

@mixin sizing($name, $units) {
  .w-#{$name} {
    width: $units !important;
  }

  .h-#{$name} {
    height: $units !important;
  }
}

@for $multiplier from 1 through 4 {
  $percent: $multiplier * 25;
  @include sizing($percent, #{$percent}\%);
}

@for $em from 1 through 5 {
  @include sizing(font-#{$em}, #{$em}em);
  @include sizing(root-font-#{$em}, #{$em}rem);
}

@for $multiplier from 1 through 10 {
  $em: $multiplier * 5;
  @include sizing(font-#{$em}, #{$em}em);
  @include sizing(root-font-#{$em}, #{$em}rem);
}
