// sass-lint:disable no-important
@mixin spacing-margin($name, $spacing-amount) {
  .m-#{$name} {
    margin: $spacing-amount !important;
  }

  .mx-#{$name} {
    margin-left: $spacing-amount !important;
    margin-right: $spacing-amount !important;
  }

  .my-#{$name} {
    margin-bottom: $spacing-amount !important;
    margin-top: $spacing-amount !important;
  }

  .ml-#{$name} {
    margin-left: $spacing-amount !important;
  }

  .mr-#{$name} {
    margin-right: $spacing-amount !important;
  }

  .mt-#{$name} {
    margin-top: $spacing-amount !important;
  }

  .mb-#{$name} {
    margin-bottom: $spacing-amount !important;
  }
}

@mixin spacing-padding($name, $spacing-amount) {
  .p-#{$name} {
    padding: $spacing-amount !important;
  }

  .px-#{$name} {
    padding-left: $spacing-amount !important;
    padding-right: $spacing-amount !important;
  }

  .py-#{$name} {
    padding-bottom: $spacing-amount !important;
    padding-top: $spacing-amount !important;
  }

  .pl-#{$name} {
    padding-left: $spacing-amount !important;
  }

  .pr-#{$name} {
    padding-right: $spacing-amount !important;
  }

  .pt-#{$name} {
    padding-top: $spacing-amount !important;
  }

  .pb-#{$name} {
    padding-bottom: $spacing-amount !important;
  }
}

@include spacing-margin('no', $spacing-base * $spacing-multiplier-no);
@include spacing-margin('xs', $spacing-base * $spacing-multiplier-xs);
@include spacing-margin('sm', $spacing-base * $spacing-multiplier-sm);
@include spacing-margin('md', $spacing-base * $spacing-multiplier-md);
@include spacing-margin('lg', $spacing-base * $spacing-multiplier-lg);
@include spacing-margin('xl', $spacing-base * $spacing-multiplier-xl);
@include spacing-margin('auto', auto);

@include spacing-padding('no', $spacing-base * $spacing-multiplier-no);
@include spacing-padding('xs', $spacing-base * $spacing-multiplier-xs);
@include spacing-padding('sm', $spacing-base * $spacing-multiplier-sm);
@include spacing-padding('md', $spacing-base * $spacing-multiplier-md);
@include spacing-padding('lg', $spacing-base * $spacing-multiplier-lg);
@include spacing-padding('xl', $spacing-base * $spacing-multiplier-xl);

@for $em from 1 to 6 {
  @include spacing-margin(em-#{$em}, #{$em}em);
  @include spacing-padding(em-#{$em}, #{$em}em);
}
