.ZPaperCard-root {
  position: relative;

  .ZPaperCard-header {
    padding-bottom: @spacing-no;

    h3 {
      font-size: @sizing-font-root-xl;
      padding: 0;
      margin: 0;
    }
  }

  .ZPaperCard-media {
    object-fit: fill;
    margin: auto;
    padding-top: @spacing-sm;
    padding-bottom: @spacing-sm;

    &.ZPaperCard-media-width-xs {
      width: @sizing-image-xs;
    }

    &.ZPaperCard-media-width-sm {
      width: @sizing-image-sm;
    }

    &.ZPaperCard-media-width-md {
      width: @sizing-image-md;
    }

    &.ZPaperCard-media-width-lg {
      width: @sizing-image-lg;
    }

    &.ZPaperCard-media-width-xl {
      width: @sizing-image-xl;
    }

    &.ZPaperCard-media-height-xs {
      height: @sizing-image-xs;
    }

    &.ZPaperCard-media-height-sm {
      height: @sizing-image-sm;
    }

    &.ZPaperCard-media-height-md {
      height: @sizing-image-md;
    }

    &.ZPaperCard-media-height-lg {
      height: @sizing-image-lg;
    }

    &.ZPaperCard-media-height-xl {
      height: @sizing-image-xl;
    }
  }

  .ZPaperCard-svg {
    text-align: center;

    &.ZPaperCard-media-width-xs svg {
      width: @sizing-image-xs;
    }

    &.ZPaperCard-media-width-sm svg {
      width: @sizing-image-sm;
    }

    &.ZPaperCard-media-width-md svg {
      width: @sizing-image-md;
    }

    &.ZPaperCard-media-width-lg svg {
      width: @sizing-image-lg;
    }

    &.ZPaperCard-media-width-xl svg {
      width: @sizing-image-xl;
    }

    &.ZPaperCard-media-height-xs svg {
      height: @sizing-image-xs;
    }

    &.ZPaperCard-media-height-sm svg {
      height: @sizing-image-sm;
    }

    &.ZPaperCard-media-height-md svg {
      height: @sizing-image-md;
    }

    &.ZPaperCard-media-height-lg svg {
      height: @sizing-image-lg;
    }

    &.ZPaperCard-media-height-xl svg {
      height: @sizing-image-xl;
    }
  }

  .ZPaperCard-actions {
    padding: @spacing-md;
  }

  .ZPaperCard-actions-confirm {
    margin-top: @spacing-md;
  }

  &.ZPaperCard-size-max {
    width: 100%;
  }

  &.ZPaperCard-size-xl {
    max-width: @sizing-card-xl;
  }

  &.ZPaperCard-size-lg {
    max-width: @sizing-card-lg;
  }

  &.ZPaperCard-size-md {
    max-width: @sizing-card-md;
  }

  &.ZPaperCard-size-sm {
    max-width: @sizing-card-sm;
  }
}

.ZPaperCard-avatar {
  &.ZPaperCard-avatar-xs {
    width: 2em;
  }

  &.ZPaperCard-avatar-sm {
    width: 3em;
  }

  &.ZPaperCard-avatar-md {
    width: 4em;
  }

  &.ZPaperCard-avatar-lg {
    width: 5em;
  }

  &.ZPaperCard-avatar-xl {
    width: 6em;
  }
}
