.ZElevatedMediaCard-root {
  width: 19em;

  h3 {
    padding: @spacing-no;
    margin: @spacing-no;
    font-size: @sizing-font-md;
  }

  .MuiCardHeader-subheader {
    text-transform: uppercase;
  }

  .MuiCardHeader-root,
  .MuiCardContent-root,
  .MuiCardActions-root {
    padding: @spacing-md;
  }
}
