.ZPaperCard-root {
  .ZPaperCard-header {
    padding-bottom: @spacing-no;

    h3 {
      font-size: @sizing-font-root-xl;
      padding: 0;
      margin: 0;
    }
  }

  .ZPaperCard-header-action {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-left: @spacing-xl;

    .ZPaperCard-progress-loading {
      margin-left: @spacing-sm;
    }
  }

  .ZPaperCard-media {
    object-fit: fill;
    margin: auto;
    padding-top: @spacing-sm;
    padding-bottom: @spacing-sm;

    &.ZPaperCard-media-width-xs {
      width: @sizing-image-xs;
    }

    &.ZPaperCard-media-width-sm {
      width: @sizing-image-sm;
    }

    &.ZPaperCard-media-width-md {
      width: @sizing-image-md;
    }

    &.ZPaperCard-media-width-lg {
      width: @sizing-image-lg;
    }

    &.ZPaperCard-media-width-xl {
      width: @sizing-image-xl;
    }

    &.ZPaperCard-media-height-xs {
      height: @sizing-image-xs;
    }

    &.ZPaperCard-media-height-sm {
      height: @sizing-image-sm;
    }

    &.ZPaperCard-media-height-md {
      height: @sizing-image-md;
    }

    &.ZPaperCard-media-height-lg {
      height: @sizing-image-lg;
    }

    &.ZPaperCard-media-height-xl {
      height: @sizing-image-xl;
    }
  }

  .ZPaperCard-actions {
    padding: @spacing-md;
  }

  &.ZPaperCard-size-max {
    width: 100%;
  }

  &.ZPaperCard-size-lg {
    max-width: @sizing-card-lg;
  }

  &.ZPaperCard-size-md {
    max-width: @sizing-card-md;
  }

  &.ZPaperCard-size-sm {
    max-width: @sizing-card-sm;
  }
}

.ZPaperCard-group {
  .ZPaperCard-root {
    margin-bottom: @spacing-xl;
  }
}

.ZPaperCard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  align-content: top;

  .ZPaperCard-root {
    margin-left: @spacing-md;
    margin-right: @spacing-md;
    margin-bottom: @spacing-md;
  }
}

.ZPaperCard-avatar {
  &.ZPaperCard-avatar-xs {
    width: 2em;
  }

  &.ZPaperCard-avatar-sm {
    width: 3em;
  }

  &.ZPaperCard-avatar-md {
    width: 4em;
  }

  &.ZPaperCard-avatar-lg {
    width: 5em;
  }

  &.ZPaperCard-avatar-xl {
    width: 6em;
  }
}
