.ZPaperCard-root {
  .ZPaperCard-header {
    padding-bottom: @spacing-no;

    h3 {
      font-size: @sizing-font-xl;
      padding: @spacing-no;
      margin: @spacing-no;
    }
  }

  .ZPaperCard-header-action {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
  }
}

.ZPaperCard-group {
  .ZPaperCard-root {
    margin-bottom: @spacing-xl;
  }
}

.ZPaperCard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  align-content: top;

  .ZPaperCard-root {
    margin-left: @spacing-md;
    margin-right: @spacing-md;
    margin-bottom: @spacing-md;
  }
}
