.ZProfileActivationForm-root {
  min-width: @sizing-card-sm;
  max-width: @sizing-card-md;

  .ZProfileActivationForm-input-key,
  .ZProfileActivationForm-btn-activate {
    margin-top: @spacing-md;
  }
}
