.ZProfileForm-root {
  max-width: @sizing-card-md;

  .ZProfileForm-header {
    padding-bottom: @spacing-no;

    h3 {
      font-size: @sizing-font-xl;
      padding: @spacing-no;
      margin: @spacing-no;
    }
  }

  .ZProfileForm-avatar {
    height: @sizing-avatar-md;
    width: @sizing-avatar-md;
    border-radius: @rounding-circle;
    background: @color-white;
    border: @thickness-xs solid @color-gainsboro;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 @sizing-font-xl @thickness-sm @color-primary;
    }
  }

  .ZProfileForm-input {
    margin-bottom: @spacing-md;
  }
}

.ZProfileMenu-root {
  .ZProfileMenu-avatar {
    height: @sizing-avatar-sm;
    width: @sizing-avatar-sm;
    border-radius: 50%;
    border: @thickness-xs solid @color-gainsboro;
    background: @color-white;
  }
}

.ZProfileActivationForm-root {
  min-width: @sizing-card-sm;
  max-width: @sizing-card-md;

  .ZProfileActivationForm-input-key,
  .ZProfileActivationForm-btn-activate {
    margin-top: @spacing-md;
  }
}

.ZProfileReactivationForm-root {
  min-width: @sizing-card-sm;
  max-width: @sizing-card-md;

  .ZProfileReactivationForm-btn-reactivate {
    margin-top: @spacing-md;
  }
}

.ZProfileDeleteForm-root {
  max-width: @sizing-card-md;
}

.ZProfileAvatarForm-root {
  width: 400px;

  .ZProfileAvatarForm-picture {
    border: @thickness-md solid @color-black;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .ZProfileAvatarForm-zoom {
    width: calc(@sizing-avatar-xl - 4em);
  }

  .ZProfileAvatarForm-percent {
    width: 2.6em;
  }

  .ZProfileAvatarForm-toolbar {
    align-self: stretch;
  }
}
