// Spacing
@spacing-base: 1em;
@spacing-multiplier-no: 0;
@spacing-multiplier-xs: 0.25;
@spacing-multiplier-sm: 0.5;
@spacing-multiplier-md: 1;
@spacing-multiplier-lg: 1.25;
@spacing-multiplier-xl: 1.5;
@spacing-no: @spacing-base * @spacing-multiplier-no;
@spacing-xs: @spacing-base * @spacing-multiplier-xs;
@spacing-sm: @spacing-base * @spacing-multiplier-sm;
@spacing-md: @spacing-base * @spacing-multiplier-md;
@spacing-lg: @spacing-base * @spacing-multiplier-lg;
@spacing-xl: @spacing-base * @spacing-multiplier-xl;

// Thickness
@thickness-base: 0.1em;
@thickness-xs: @thickness-base * 0.625;
@thickness-sm: @thickness-base * 0.8;
@thickness-md: @thickness-base;
@thickness-lg: @thickness-base * 1.2;
@thickness-xl: @thickness-base * 1.5;

// Sizing
@sizing-font-base: 1em;
@sizing-font-xs: @sizing-font-base * 0.625;
@sizing-font-sm: @sizing-font-base * 0.8;
@sizing-font-md: @sizing-font-base;
@sizing-font-lg: @sizing-font-base * 1.2;
@sizing-font-xl: @sizing-font-base * 1.5;
@sizing-toolbar: 64px;

@sizing-card-sm: 18em;
@sizing-card-md: 30em;
@sizing-card-lg: 50em;

@sizing-avatar-xs: 32px;
@sizing-avatar-sm: 48px;
@sizing-avatar-md: 80px;
@sizing-avatar-lg: 128px;
@sizing-avatar-xl: 256px;

// Black - Gray - White
@color-black: #000;
@color-darkgray: #404040;
@color-gray: #808080;
@color-gray-x11: #bebebe;
@color-silver: #c0c0c0;
@color-lightgray: #d3d3d3;
@color-gainsboro: #dcdcdc;
@color-whitesmoke: #f5f5f5;
@color-whitelight: #f2f2f2;
@color-white: #fff;

// Status
@color-primary: #3f51b5;
@color-secondary: #dc004d;
@color-success: #4caf50;
@color-danger: #f44336;
@color-warning: #ff9800;
@color-info: #2196f3;
